@font-face {
	font-family: arkhip;
	src: url(fonts/arkhip_font.ttf);
}

* {
	padding: 0;
	margin: 0;
}

body {
	color: #eeeeee;
	background: #222222;
}

canvas-layer {
	width: 100vw;
	height: 100vh;
	background: #333333;
}

